# Environment
.env
.env.*
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Testing
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter
**/.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
