# Environment
.env
.env.*

# Data
data/
datasets/
results/
local/
logs/
embeddings/
figures/
paper/
wandb/
tables/

# Python
__pycache__/
*.pyc
*.egg-info/
dist/
build/
.pytest_cache/
.ruff_cache/
.venv/
